#next, #search-destination, #big-map {
    margin: 25px auto;
}
.cajita {
    background-color: #F2F2F2;
    border-radius: 25px;
    height: 40px;
    color: #160D47;
}
.cajita .input-group-addon, .cajita .form-control {
    border: none;
    background-color: unset;
}
#region {
    
}